<html>
<head>
    <title>Start diagnoses</title>
    <meta charset="UTF-8">
</head>
<body>
<div>
    Пользователь: {{user}}
    <div>
        <form action="/auth/logout" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <form method="post" accept-charset="UTF-8" action="/diagnoses">
        <input type="text" name="name" placeholder="Введите новое имя"/>
        <button type="submit">Добавить</button>
    </form>

    <form method="post" action="/diagnoses/filter">
        <input type="text" name="filter" placeholder="Введите имя диагноза">
        <button type="submit">Найти</button>
    </form>
</div>
<div>Список диагнозов</div>
{{#diagnoses}}
    <div>
        <b>{{id}}</b>
        <span>{{name}}</span>
    </div>
{{/diagnoses}}
</body>
</html>